[2017-09-20 07:16] Avsecz opened #2 "Models file structure"
- shall the folder structure be: <github username>__model? (not concerning about the implementation)
- how to handle different versions?
  - `/model_name/version/model`

[2017-09-20 07:30] Avsecz opened #3 "Uploaded models testing"
1. diff what has been updated (in the PR)
    - how to do this? Use travis cache?
2. Run tests on the modified directory
    - [ ] setup test runtime limit
3. Every now and then, run tests for all the models

[2017-09-20 07:31] Avsecz opened #4 "Webpage listing models from this repository"
- simply list all the models (in a table)
- have a single view for the model
  - allow comments

[2017-09-28 19:55] Avsecz opened #5 "Support permalink specification of the model"
- discussed in the meeting [2017-09-28-model-zoo-call](https://docs.google.com/presentation/d/1feHJe3FDD0XEHTGAkmyMLgSOGn0Pe45YROsdlfWqIyw/edit#slide=id.g26c0b9e02c_0_24)

links to https://github.com/kipoi/models/issues/2

One would need to specify the model with a commit: commit-hash/model/...?

[2017-09-28 19:58] Avsecz opened #6 "Sub-folder attribute inheritance"
Potentially useful for multiple repetitive sub-folders. These could inherit some attributes from the top ones

discussed in the meeting [2017-09-28-model-zoo-call](https://docs.google.com/presentation/d/1feHJe3FDD0XEHTGAkmyMLgSOGn0Pe45YROsdlfWqIyw/edit#slide=id.g26c0b9e02c_0_24)

links to https://github.com/kipoi/models/issues/2

[2017-09-28 20:15] Avsecz opened #7 "Alternative model hosting options"
- [x] investigate coda lab hosting
- [x] lfs pricing?
- [ ] object store
  - aws S3
  - self-hosted https://minio.io/
  - all models with public read-permission
  - write permission through reviewed upload?

[2017-09-28 20:19] #2 closed, assigned to nobody

[2017-12-05 16:07] krrome opened #10 "Requirements for HAL model missing"
According to `install_model_requirements("HAL", "kipoi", and_dataloaders=True)` everything is installed, but when trying to load the dataloader ther error `No module named 'gtf_utils'` is raised. The requirements.txt only contains `#TODO`

[2017-12-08 16:02] krrome opened #11 "CpGenie models don't load example data"
When pulling the CpGenie models example data is not pull, because it is linked from the ../template* folder, which is not pulled from git lfs

[2017-12-11 11:37] krrome opened #12 "DeepSEA retrain with original 1-hot data"

[2017-12-17 13:47] Avsecz opened #15 "Fix the absolute softlinks in DeepCpg"
absolute links were used: https://github.com/kipoi/models/blob/master/DeepCpG_DNA/Hou2016_HCC_dna/dataloader.py

[2017-12-17 13:51] #15 closed, assigned to Avsecz

[2017-12-18 15:13] #10 closed, assigned to s6juncheng

[2017-12-20 15:38] Avsecz opened #16 "Issue template for reporting model problems"
<model>:....

[2017-12-21 12:04] s6juncheng opened #17 "HAL model files fix"
reverse last commit that messed up HAL files.

[2017-12-21 12:04] #17 closed, assigned to s6juncheng, krrome

[2017-12-21 13:19] #12 closed, assigned to krrome

[2017-12-21 13:19] #11 closed, assigned to krrome

[2018-01-09 22:33] Avsecz opened #18 "genomic_reorder in HAL and MaxEntScan dataloader"
In the dataloader, the sequence is only reversed, but not reverse-complemented

@s6juncheng what's the purpose of genomic_reorder argument and why is it true by default?
https://github.com/kipoi/models/blob/master/HAL/dataloader.py#L62

Reverse complementation is done already when querying the fasta file.

[2018-01-24 21:32] Avsecz opened #19 "Add deepMiRGene model to the zoo"
https://github.com/eleventh83/deepMiRGene

[2018-01-30 22:18] Avsecz opened #20 "add pwm models from RTFBSDB"
https://academic.oup.com/bioinformatics/article/32/19/3024/2196422

[2018-01-31 10:53] Avsecz opened #21 "update dependencies"
-  put kipoi as a default to conda env create
https://github.com/kipoi/models/blob/master/CpGenie/template/dataloader.yaml#L34

[2018-02-02 15:44] Avsecz opened #22 "Add: DeepCpf1 - Deep learning improves prediction of CRISPR–Cpf1 guide RNA activity"
Framework: Keras
Input: Sequence (34 nt), (Optional) binary chromatin information )
Output: (1,) - activity of AsCpf1 guide
Paper: https://www.nature.com/articles/nbt.4061
Code: https://github.com/MyungjaeSong/Paired-Library
Weights: https://github.com/MyungjaeSong/Paired-Library/tree/DeepCpf1-code/DeepCpf1%20code/weights
Dependencies: python=2.7.12, theano=0.7.0, keras=0.3.3

[2018-02-02 17:33] Avsecz opened #24 "TODO - add labels for issues"
## Issue types

- Model request
  - review of the paper was done
- Issue with the model/dataloader (functionality)
- Issue with model metadata/description

## Model request processing stages

- Model definition request
  - provides: Paper and Github link
  - asks for: integration request
- Integration request (Paper review performed)
  - provides: brief information about the model with pointers

[2018-02-02 23:52] Avsecz opened #25 "Cleanup: Put all the `*.py files` outside of `model_files` & remove DS_Store"
I.e. files like `DeepSEA/predict/model_files/deepsea_cpu.py` to `DeepSEA/predict/deepsea_cpu.py` (+ update the yaml file)

- [x] Remove ._.DS_Store files https://github.com/kipoi/models/blob/master/DeepSEA/predict/model_files/._.DS_Store

[2018-02-07 15:47] Avsecz opened #26 "Add Basenji"
Repo: https://github.com/calico/basenji

### Model
type: tensorflow
Get model weights:

[code]

### Dataloader

- Simple fasta + bed dataloader as for deepsea

### Dimensions

- TODO

### TODO's

- [x] try to run the model
- [x] write out the dimensions
- [x] add tensorflow to Kipoi
- [ ] PR

[2018-02-07 15:48] Avsecz opened #27 "Add DeepTarget"
## Model
type: Keras
Weights (obtained per email)

License: GPL3

## Dataloader

- simple seq + one-hot loader

## TODO
- [x] test
- [x] submit a PR

[2018-02-08 16:58] #26 closed, assigned to Avsecz

[2018-02-08 23:08] #27 closed, assigned to Avsecz

[2018-02-12 12:53] #24 closed, assigned to nobody

[2018-02-14 09:16] #4 closed, assigned to nobody

[2018-02-14 09:18] #18 closed, assigned to s6juncheng

[2018-02-17 00:58] #25 closed, assigned to nobody

[2018-02-18 11:06] #3 closed, assigned to nobody

[2018-02-18 11:06] #21 closed, assigned to Avsecz

[2018-02-20 13:01] Avsecz opened #32 "Fix nightly build"
- https://circleci.com/gh/kipoi/models/21

[2018-02-21 09:40] #32 closed, assigned to Avsecz

[2018-02-28 16:26] Avsecz opened #34 "In pwm dataloader, describe explicitly what shape should the input come in"
the numpy_collate function fails when using pwm scanning with intervals that don't have the same length. this should be fixed by using batch_size=1 or by using resizing. We have to make this somehow explicit in the dataloader

[2018-02-28 17:23] Avsecz opened #35 "rbp_eclip - better handling of gtf files"
Juri had some problems with a certain gtf file. We should be as verbose as possible

[2018-03-01 09:22] Avsecz opened #38 "Tests not triggered on the PR"
Problem: in the following PR: https://github.com/kipoi/models/pull/37, the build didn't get triggered

- try:
  - make a PR from your account and see if tests will get triggered
  - if not, use a different branch

[2018-03-02 11:15] Avsecz opened #39 "For models that require fixed width offer resize functionality"
For models like deepse, the input has to be strictly 1000nt. It would be nice to have a flag: resize=True which would resize the bed files accordingly

- in case resize=True is not used and the ranges don't match the width, display a verbose error message

[2018-03-02 18:30] #34 closed, assigned to Avsecz

[2018-03-02 18:39] #35 closed, assigned to Avsecz

[2018-03-03 00:25] #38 closed, assigned to Avsecz

[2018-03-05 09:14] Avsecz opened #49 "Add `git config core.filemode false` to the CI setup ?"
This will ignore the file mode changes

[2018-03-05 22:19] annashcherbina opened #50 "Missing maxentpy.maxent dependency for MaxEnt/3prime model"
`kipoi$get_model("MaxEntScan/3prime")`

Error in py_call_impl(callable, dots$args, dots$keywords): ImportError: No module named maxentpy.maxent
[code]

(I don't have permissions to assign issues to people, but I believe this model was contributed by @s6juncheng )

[2018-03-06 02:17] #50 closed, assigned to Avsecz

[2018-03-09 17:31] Avsecz opened #55 "Join the team (post here to be added to the kipoi team)"
Everybody is welcome to contribute to Kipoi. Simply reply to this issue and you will be added to the Kipoi team. That way, you contribute models via git branches and don't have to fork the repo.

Edit: After you post here, we will email you an invitation through github to join the Kipoi team. Click the link in that invitation in order to be added.

[2018-03-14 08:16] Avsecz opened #58 "DeepBind models description"
The DeepBind models in the zoo have rather un-interpretable tags. They are listed as some IDs like D00001.0001 . But there is no easy way to search or figure out which TF or what the model is representing. Is there some mapping file between these IDs and what the models actually are? Isn't obvious where to find it.

Also some relevant metadata in the 'Tags' column of the main models page is missin

[2018-03-14 08:17] Avsecz commented on #58
@akundaje added your suggestions to this issue

[2018-03-15 10:23] Avsecz opened #60 "Fix occasional nightly tests fails due to keras config file"
Currently, models are tested in the random order. Whichever model using Keras is tested first, the Keras config file of that model remains. Hence, if the config file of the first model uses theano, all the subsequent keras model will try to run keras on theano.

A solution to this problem would be to 'cleanup' the keras config file after every test (in case it wasn't present there before)

[2018-03-16 09:04] visze opened #61 "ValueError in Basenji model"
Hi all. First thank you for developing kipoi! Great idea, practical and highly needed.

As a test I tried to use the Basenji model. After creating the environment I used the test comamnd which results in an tensorflow error. It seems that inputs are not define correctly:

[code]

I guess that inputs are defined here https://github.com/kipoi/models/blob/ce94f6ccd62993e5ad09267baef63c7733bb78fa/Base

[2018-03-16 09:54] Avsecz commented on #61
Hi,

can you try:
[code]

I need to fix the snippet on the webpage and add `--batch_size=2`. I could only get Basenji to run with the batch_size of 2 (batch axis shape is hardcoded in the tf graph).

[2018-03-16 10:04] Avsecz commented on #61
I'm thinking whether to build in more verbose error messages regarding the batch size restrictions or release this restriction from the tensorflow graph... I'll make an issue for releasing this restriction in Basenji

[2018-03-16 10:05] Avsecz opened #62 "Allow other batch sizes than 2 for Basenji"
The exported tf graph would need to be changed by having the batch axis shape be None and all the subsequent layers.

[2018-03-16 10:05] Avsecz commented on #61
added an issue here https://github.com/kipoi/models/issues/62

[2018-03-16 10:34] gagneur opened #63 "chromVar"
Adding chromVar, https://github.com/GreenleafLab

[2018-03-16 10:41] akundaje commented on #63
ChromVar doesn't really produce a 'model' AFAIK. It's a pipeline to
identify motifs associated with variable chromatin accessible sites across
many samples. How were you envisioning putting it in the model zoo.

On Mar 16, 2018 3:34 AM, "Julien Gagneur" <notifications@github.com> wrote:

[2018-03-16 10:54] visze commented on #61
`--batch_size=2`: Perfect solution 😸

But now I have different errors. When I first run it I get:

[code]

The second try is:

[code]

and the third one goes through;

[code]

If I repeat it it returns one of the previous errors... Well it can be something really machine specific (GPU, CUDA and tensorflow hiccups or just memory issues). So I tried a different one (pure CPU). Here it works perfect.

[2018-03-16 22:16] Avsecz commented on #61
glad the `batch_size` worked for you.

Running tensorflow can sometimes (still) be tricky (especially with GPU's) although it has improved a lot. If you are installing it on a gpu capable maching use the `--gpu` flag with `kipoi env create` .i.e.:

[code]
This will install `tensorflow-gpu` instead of `tensorflow`.

Regarding fixing version. I don't want to strictly freeze the versions too much as

[2018-03-16 22:19] Avsecz commented on #61
I'm thinking whether one could override some of the packages already at the `env create` command:

[code]

However, this might become complicated quite quickly

[2018-03-16 22:34] Avsecz commented on #61
I'll close the issue

[2018-03-16 22:34] #61 closed

[2018-03-16 22:35] gagneur commented on #63
As a post-processing tool, leveraging the TF binding site predictive models we offer. I see this is not a 'model'.

[2018-03-16 22:35] #63 closed

[2018-03-16 22:39] akundaje commented on #63
Ah ok

On Mar 16, 2018 3:35 PM, "Julien Gagneur" <notifications@github.com> wrote:

[2018-04-06 17:31] krrome opened #65 "DeepBind not functional"
As in title, perhaps there is something wrong with the weights file? Any idea?
[code]

[2018-04-06 18:11] Avsecz commented on #65
which keras version are you using?

[2018-04-06 18:11] Avsecz commented on #65
can you install a fresh conda environment and run the same thing? It should work there

[2018-04-08 05:11] Avsecz opened #67 "Set `use_linecache=True` for all models"
If this is not used, the dataloading is significantly slower as the bed file gets scanned sequentially for each queried index/row

[2018-04-09 18:49] krrome commented on #65
I installed 2 new environments py3.5 and py3.6 and both times it's the same things. there seems to be a problem when storing weights and architecture in one hdf5 file and if the python, keras, tensorflow etc. versions don't match up exactly if I understand (https://github.com/keras-team/keras/issues/7440) correctly..

[2018-04-09 18:58] Avsecz commented on #65
just to be sure: did you install new environments via kipoi? DeepBind works perfectly fine for me

[2018-04-09 19:11] krrome commented on #65
yep they were only fresh requirements. must be the python 2.7 requirement then - should we/I port it to a python 3 compatible version? I think it's not ideal to be restricted to python 2.7 and since it's a Keras model there should be no need for that unless its a dataloader issue... but the problem I get is from Keras and might be related to the version of Keras used in DeepBind -> see link to ker

[2018-04-09 21:43] Avsecz commented on #65
agree. Let's port it to python 3 then. I'll make a new issue and close this one

[2018-04-09 21:44] Avsecz opened #68 "Port DeepBind to python 3"
As noted in https://github.com/kipoi/models/issues/65, DeepBind only works with python 2.7. We should make it work also in python 3

[2018-04-09 21:44] #65 closed

[2018-04-14 00:56] Avsecz opened #71 "Scope of models in Kipoi"
It would be good to define a scope and a minimal set of standards for the contributed models

## Minimal set of standards
- the model has to be described in detail somewhere (arxiv/bioarxiv/journal paper or maybe even good blogpost) and it should be clear on what data it has been trained on and what the performance on the held-out validation set is
- all the kipoi tests should pass

## Scope
- mod

[2018-04-16 03:09] Avsecz opened #72 "Update tags for DeepBind and lsgkm-SVM"

[2018-04-23 00:08] Avsecz opened #74 "Bug in the divergent Dataloader"
https://github.com/kipoi/models/blob/master/Divergent430/Multitask/dataloader.py#L31

[2018-04-30 23:44] akundaje opened #75 "Deep learning of the regulatory grammar of yeast 5′ untranslated regions from 500,000 random sequences"
https://genome.cshlp.org/content/27/12/2015

[2018-04-30 23:45] akundaje opened #76 "Human 5′ UTR design and variant effect prediction from a massively parallel translation assay"
https://www.biorxiv.org/content/early/2018/04/29/310375

[2018-04-30 23:46] akundaje opened #77 "Predicting the Impact of cis-Regulatory Variation on Alternative Polyadenylation"
https://www.biorxiv.org/content/early/2018/04/12/300061

[2018-04-30 23:46] akundaje opened #78 "Clairvoyante: a multi-task convolutional deep neural network for variant calling in Single Molecule Sequencing"
https://www.biorxiv.org/content/early/2018/04/28/310458

[2018-05-01 00:58] Avsecz commented on #75
https://github.com/Seeliglab/2017---Deep-learning-yeast-UTRs Should be feasible

[2018-05-01 00:59] Avsecz commented on #76
Asked the authors https://github.com/pjsample/human_5utr_modeling/issues/1

[2018-05-01 01:03] Avsecz commented on #78
https://github.com/aquaskyline/Clairvoyante

[2018-05-01 01:08] Avsecz commented on #77
Unfortunately, they don't seem to provide the code/models anywhere.

[2018-05-17 20:34] pjshort opened #81 "pytorch-cpu package not found on Mac"
Hello, I am trying to run the following command:

And am getting the following error:

Solving environment: ...working... failed

ResolvePackageNotFound:
  - pytorch-cpu[version='>=0.2.0']

Traceback (most recent call last):
  File "/Users/ps14/anaconda3/bin/kipoi", line 11, in <module>
    sys.exit(main())
  File "/Users/ps14/anaconda3/lib/python3.6/site-packages/kipoi/__main__.py", line 74, in m

[2018-05-17 22:31] Avsecz commented on #81
Oh, I see. Seems that for os-x pytorch doesn't provide two separate repositories (see https://pytorch.org/ and select MacOS as well as Cuda=None), hence pytorch should be installed instead of pytorch-cpu. The easiest way to modify this is to edit the file: `~/.kipoi/models/DeepSEA/variantEffects/model.yaml` and replace `pytorch-cpu` with `pytorch` locally

[2018-05-17 22:34] Avsecz opened #82 "Replace pytorch-cpu to pytorch dependency when on MacOS"
pytorch-cpu doesn't exist for MacOS

[2018-05-17 22:36] Avsecz commented on #82
https://github.com/kipoi/models/issues/81

[2018-05-17 22:36] Avsecz commented on #82
wrong repo. opening the issue on kipoi/kipoi repo

[2018-05-17 22:36] #82 closed

[2018-05-17 22:44] Avsecz commented on #81
I'll fix this in this issue: https://github.com/kipoi/kipoi/issues/271 and handle this automatically.

[2018-05-17 23:33] Avsecz commented on #81
Just made a new kipoi release implementing this feature. Update kipoi locally:
- `pip install -U kipoi`

and then run the command again:

[code]

Test if everything works:
[code]

[2018-05-18 07:48] pjshort commented on #81
Thank you! I am progressing much further along now, although there is another mac-specific error I am encountering when trying to build the pysam dependency:

/usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/ps14/anaconda3/envs/kipoi-DeepSEA__variantEffects/include -arch x86_64 -I/Users/ps14/anaconda3/envs/kipoi-DeepSEA_

[2018-05-18 07:56] Avsecz commented on #81
Can you try installing it from bioconda? `conda install -c bioconda pysam`

[2018-05-18 08:42] krrome commented on #81
Hi Patrick,

Would you mind trying to install pysam first via bioconda and then
additionally via pip? Perhaps that helps.

Best,
Roman

On Fri, 18 May 2018, 10:31 Patrick Short, <notifications@github.com> wrote:

[2018-05-18 08:46] krrome commented on #81
Also please try the conda version of pybedtools please if you have trouble
with that. `conda install -c bioconda pybedtools`

On 18 May 2018 10:41, "Roman Kreuzhuber" <rkreuzh@gmail.com> wrote:

Hi Patrick,

Would you mind trying to install pysam first via bioconda and then
additionally via pip? Perhaps that helps.

Best,
Roman

On Fri, 18 May 2018, 10:31 Patrick Short, <notifications@github.com>

[2018-05-18 09:52] pjshort commented on #81
Hi Roman and Ziga,

I have tried installing pysam/pybedtools with bioconda and pip as you describe above, but it looks like it is still collecting pysam v 0.14.1 from genome-lake (rather than using the pysam already on my local machine).

Thanks for all of your help and sorry for the trouble!

[2018-05-18 12:35] krrome commented on #81
hmm I'm very sorry about that. I can play around tomorrow on my mac and see what I have to do to get it to work so that you don't have to be the guinea pig for that.

[2018-05-21 10:59] krrome commented on #81
Hi Patrick, sorry to keep you waiting - unfortunately I could not replicate the exact error you are having with the genomelake installation. If you are willing to play around more:

1) start out with a new environment for e.g. python 3.6 as you had it. and `source activate` your new environment.
2) run `pip install kipoi[vep]`
3) run `kipoi env install DeepSEA/variantEffects`
4) run `kipoi test De

[2018-05-23 09:52] aquaskyline commented on #55
I would like to join Kipoi on behalf of the Clairvoyante (https://github.com/aquaskyline/Clairvoyante) team.

[2018-05-31 19:26] jeffmylife opened #84 "A ValueError when attempting to run Basenji"
When I attempt to run the Basenji model as in the [example](http://kipoi.org/models/Basenji/), this shows up:

`

  0%|                                                                                 | 0/1 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/lib/python3.6/site-packages/kipoi/pipeline.py", line 84, in predict_example
    pred_

[2018-05-31 19:59] Avsecz commented on #84
Hi, add a flag: `--batch_size=2`. The current implementation of basenji hardcodes the batch size.

[2018-05-31 20:00] Avsecz commented on #84
I'll fix the code snippet on the website soon: https://github.com/kipoi/website/issues/69

[2018-05-31 20:38] jeffmylife commented on #84
I believe this worked for me.
Thank you for being so quick.

[2018-05-31 20:38] #84 closed

[2018-06-01 06:54] Avsecz opened #85 "Use linecache for all the models"
Enable linecache for all the models

[2018-06-01 08:01] Avsecz commented on #85
duplicate of https://github.com/kipoi/models/issues/67

[2018-06-01 08:01] #85 closed

[2018-06-01 20:57] jeffmylife opened #87 "Regarding the output of the example for Basenji"
So I've successfully ran the Basenji on the example_files/ but still have some comments/questions before I do this for my data.

First, the output file Basenji.example_pred.tsv has some complications.
It cannot be "headed" easily or looped through easily.
![screen shot 2018-06-01 at 4 22 41 pm](https://user-images.githubusercontent.com/25440288/40861728-1deedb74-65b8-11e8-9ffe-145ef6f0c82c.png)
Af

[2018-06-02 00:17] Avsecz commented on #87
I suggest you to use hdf5 files to store the predictions (just specify `-o myfile.h5` instead of `-o myfile.tsv`. You can use `kipoi.readers.HDF5Reader.load("file.h5")` to load it into python. There you get the nice arrays. The .tsv file output is meant more for with single value predictions.

The output array for basenji is: (960, 4229)
- m: 4229 is the number of different output tracks (I think

[2018-06-04 19:02] jeffmylife commented on #87
All of that makes sense, thank you. As for confirmation from the Basenji repo, I opened an [issue](https://github.com/calico/basenji/issues/16) and will update the mentioned model.yaml as soon as I get a reply.

Also, I've reached this

in

 and was thinking that it might be easier to deal with the 960 bins individually so that you don't have to recode the functions within dna_reshapers.py. Perhap

[2018-06-04 20:00] Avsecz commented on #87
@krrome can you help with the var_effect module?

[2018-06-04 20:38] krrome commented on #87
Hi, thanks for bringing that forward. The variant effect prediction pipeline can at the moment only handle 1D model output arrays in order to produce sensible VCF file annotation. The 1D model output array is then implicitly treated as a multi-task model.

Most of the machinery of variant effect prediction will still work fine with a model like Basenji, but as you pointed out, if one wants to get

[2018-06-04 20:51] jeffmylife commented on #87
Good ideas. I'll doctor something up in the meantime using your second suggestion.

Thank you for helping

[2018-06-04 20:51] #87 closed

[2018-06-04 23:06] Avsecz commented on #87
@krrome do we allow any summarization function? What do you think about the idea to allow the user to specify their own numpy function (e.g. "np.sum(x, axis=-1)").

[2018-06-05 07:28] #67 closed

[2018-06-05 08:42] krrome commented on #87
@Avsecz exactly, that's what I meant - a function that reduces model output dimensionality to 1D. I move this discussion to: https://github.com/kipoi/kipoi/issues/282

[2018-06-13 03:48] Avsecz commented on #81
@pjshort which osx version do you have? We have put genomelake to bioconda recently. Does it work for you: `conda install genomelake -c bioconda` and then `echo 'from genomelake import extractors' | python`

[2018-06-13 04:42] Avsecz opened #91 "Add the TF name to DeepBind models"
- [ ] change the naming schema to: `DeepBind/<Species>/<Type>/<ID>_<Experiment>_<Protein>`
- [ ] add the metadata information to the description

[code]

[2018-06-14 02:04] Avsecz opened #92 "Add variant effect tests for some models"
- select say 5 models
- put one example vcf file to `example_files`
- run the variant effect prediction for those selected

[2018-06-14 05:57] Avsecz commented on #91
use this table; https://github.com/kundajelab/deepbind/blob/master/db/db.tsv

[2018-06-15 06:53] Avsecz opened #94 "Use a common dataloader for seq-only models"

[2018-06-19 15:56] pjshort commented on #81
@Avsecz this works for me! Thanks so much for all of your help!

[2018-06-19 16:03] pjshort opened #95 "Getting output to standard out (instead of saving to a VCF)"
I am trying to annotate a VCF file with deepSEA results and would like to have the output VCF go to standard out, so I can pipe straight to another script.

I tried the following:

```kipoi postproc score_variants DeepSEA/variantEffects --dataloader_args '{"fasta_file": "Homo_sapiens.GRCh37.74.dna.chr.fasta"}' -i min.vcf ```

using the following simple vcf:

##fileformat=VCFv4.1
##contig=<ID=1,len

[2018-06-19 16:22] Avsecz commented on #81
Cool! Does the above command causing error work as well?

[2018-06-19 16:24] Avsecz commented on #95
Good idea. We'd have to add this functionality.

[2018-06-19 16:29] pjshort commented on #95
Thank you, @Avsecz!

[2018-06-20 13:02] pjshort commented on #81
@Avsecz, yes it does - installing genomelake looks like it resolved the above error for me!

[2018-06-20 16:34] Avsecz commented on #81
Ok. I'll close the issue

[2018-06-20 16:34] #81 closed

[2018-06-21 17:18] Avsecz opened #97 "Remove DeepSEAKeras"
- to avoid confusion, let's keep just one version

[2018-06-27 01:38] arundurvasula opened #98 "ParseResult problem when importing"
Hi! This package looks great! I just installed Kipoi on my Anaconda install (python 3.4.5 on CentOS 6.9). The install finished with no errors, but I am getting the following when I try `import kipoi`:

[code]
Any ideas? Thank you!

[2018-06-27 07:51] krrome commented on #98
Hi! Thanks for trying out Kipoi. It looks like the `related` package that we are using is causing problems for you. I couldn't reproduce the error you had with python 3.4.5.
In order to say more could you post which commands you used to install Kipoi?

Also, currently we are not testing on python 3.4 - I would recommend installing Kipoi in a *new* environment with python 2.7, python 3.5 or python

[2018-06-27 07:55] krrome commented on #98
This is an issue with the core Kipoi package, I will close the issue here and refer from a new issue in Kipoi/kipoi please continue posting on that one.

[2018-06-27 07:55] #98 closed

[2018-06-27 19:03] arundurvasula opened #99 "DeepSEA test error"
Hi! I'm trying to run the DeepSEA predict example, but I am running into the following error:

[code]

This is from running the example code here: http://kipoi.org/models/DeepSEA/predict/

I installed kipoi using pip, as well as the dependencies pybedtools, pyfaidx. I installed pytorch using conda.

Any ideas here?

[2018-06-27 19:08] arundurvasula commented on #99
It could be a version issue. Here are the versions of packages I have installed:

[code]

[2018-06-27 19:14] Avsecz commented on #99
the pytorch version seems very old. I think we used >=0.3. Can you try installing it using:

[code]

[2018-06-27 19:46] arundurvasula commented on #99
Hmm weird. That command results in:
[code]

I will try and update pytorch myself and see if that helps.

[2018-06-28 07:19] Avsecz commented on #99
Let me know if updating the pytorch fixes the error

[2018-06-29 17:33] Avsecz opened #100 "DeepCRISPR"
https://github.com/bm2-lab/DeepCRISPR

[2018-07-09 21:38] lzamparo opened #101 "Use lsgkm-SVM from kipoi/models on new data"
I'd like to use the lsgkm-SVM model for comparing performance on new data, but don't see a demonstration of that use case in the docs.  Could you suggest some tips for where to start?  The task is to predict ChIP binding from sequence.

At a minimum, I'll have to implement my own dataloader to process and serve my training data.  But it also seems like there is no provision for re-training any mod

[2018-07-09 21:44] Avsecz commented on #101
Search for the appropriate TF of interest here: http://kipoi.org/groups/lsgkm-SVM/Tfbs/.

You can implement your own dataloader (folder with dataloader.py and dataloader.yaml). In that case you can directly use Kipoi:
`kipoi predict ... --dataloader=path/to/dataloader --dataloader_source=dir ...

[2018-07-10 19:42] lzamparo commented on #101
Are you referring to the authors provided implementation [here](https://github.com/Dongwon-Lee/lsgkm)?  And if so, could you point me to any code from Kipoi that I could re-use as a python interface to the compiled lsgkm binary?

One additional problem: the DOI for the ls-gkmsvm paper [here](https://doi.org/10.1016/j.cell.2015.09.054) resolves incorrectly; it does not point to the ls-gkmsvm paper,

[2018-07-10 20:57] lzamparo commented on #101
Also, trying to load one of the given TF models using the pattern laid out in the quick start triggers an un-caught error:
[code]

I'll file a separate issue about this tho.

[2018-07-10 21:04] lzamparo opened #103 "ls-gkmsvm model does not load"
with kipoi and all dependencies installed via conda, I'm trying to load ls-gkmsvm for a particular TF (JunD).  A gist with the traceback info [is here](https://gist.github.com/lzamparo/8f59952f045da80a0d479df0ab74b1ba).

I'm using the pattern laid out in the [Python quick start](http://kipoi.org/docs/using/01_Getting_started/#python-quick-start) guide, is there some way I'm not calling get_model c

[2018-07-10 21:11] krrome commented on #101
I am sorry about the wrong DOI, will correct that ASAP. In terms of templates for implementation for training and data preprocessing / loading please take a look at the `model.py` and `dataloader.py`files.

[2018-07-10 21:18] krrome commented on #103
this is because "lsgkm-SVM/Tfbs/Ejund" is not a model, you will have to chose the exact model "lsgkm-SVM/Tfbs/Ejund/K562/Uchicago_Control". You can get the correct name either from the website by clicking on a model-category name until you reach the site that contains the installation and prediction instructions or by navigating locally in subfolders  of your directory "/Users/zamparol/.kipoi/mode

[2018-07-11 05:43] Avsecz commented on #101
https://github.com/kipoi/models/blob/master/lsgkm-SVM/template/model.py and https://github.com/kipoi/models/blob/master/lsgkm-SVM/template/dataloader.py

[2018-07-11 14:49] lzamparo commented on #103
Got it, thanks.  In the case where there is only one yaml model file below a directory prefix, as in the example here, do you think it makes sense for `pull_model` to find it by using `os.walk` or something like that?  If more than one is found, then maybe a more sensible error could be returned.

Alternatively, it would be helpful for this advice, that you need to provide a directory path contain

[2018-07-11 15:03] Avsecz commented on #103
Great! Thanks for the feedback. I implemented the pull for all sub-models im 0.3.7. (https://github.com/kipoi/kipoi/pull/302). We could do the same for get_model as you suggested but report a warning/error if the exact model was not found.

We plan to improve the docs in the next few weeks. If you have any other suggestions can you please either directly submit a PR to the docs change (see kipoi/k

[2018-07-11 21:01] lzamparo commented on #103
@Avsecz sure, I'm happy to submit a PR for the docs on this issue.  A straightforward fork & PR should be fine, and it looks like just building the docs is pretty straightforward.  I'm glad to contribute to this effort!

[2018-07-11 21:09] Avsecz commented on #103
Great. Thanks! I added you to both of the repositories - you can edit files on the github repo website directly. The website with docs will get updated automatically after the PR gets merged.

[2018-07-12 21:45] lzamparo commented on #103
PR submitted: kipoi/kipoi#308

In the process of building the docs, I ran into a `sed` related problem: the fancy bash function wrapping `sed` in `render_ipynb.bash` fails unless you have gnu-sed installed.  It failed without any obvious errors in Mac OS X 10.12, anyhow.  After figuring this out, installed gnu-sed via homebrew, and made a copy of the `render_ipynb.bash` that instead calls `sed` fr

[2018-07-12 21:54] Avsecz commented on #103
Thanks!

Oh. I thought sed is installed on any unix distribution. Agree. If you have a good solution for max-osx please write a short note to docs/README.md

[2018-07-13 15:18] lzamparo commented on #103
It is installed, but the version of sed installed on Mac OS X 10.12 does not work with that regular expression.  I have no idea why, but have encountered similar bugs before (where standard GNU utilities break on a script, only to find that the reason is older BSD utilities on my system versus updated GNU orthologs)

[2018-07-13 15:31] akundaje commented on #103
Yes OSX grep and sed syntax are different than standard Unix. @ziga
Probably best to use Python functions to perform the same operations.

On Fri, Jul 13, 2018, 8:18 AM Lee Zamparo <notifications@github.com> wrote:

[2018-07-13 15:58] lzamparo commented on #103
+1 for @akundaje 's suggestion.  For a quick fix, `gnu sed` is available through [conda forge](https://anaconda.org/conda-forge/sed), which keeps dependencies within the scope of `conda`.

But as someone who had to try to parse that chain of regular expressions, there is surely a more readable way to do the path rearrangement.

[2018-07-13 15:59] Avsecz commented on #103
I added the instructions to https://github.com/kipoi/kipoi/blob/master/docs/README.md for OS-x. @lzamparo can you update the instructions with `conda`?

[2018-07-13 16:06] Avsecz commented on #103
Ok I updated the description to install gnu-sed.

[2018-07-13 16:07] lzamparo commented on #103
Done.  Though I edited out the suggestion to modify the script.  If gnu sed is installed via conda, it should supercede the standard OS X `sed`

[2018-07-13 16:07] lzamparo commented on #103
Seems you beat me to the commit :)

[2018-07-13 20:21] Avsecz commented on #103
Oh. Sorry:)

[2018-07-14 15:39] pjshort opened #104 "Specifying targets in DeepSEA"
Hello,

Thanks for all of your hard work on this! I see in the documentation here that you can specify a subset of targets (rather than the full 919 TFs): http://kipoi.org/models/DeepSEA/variantEffects/

If my understanding of this is correct, do you have any examples showing the format of the target file? Thank you!

[2018-07-14 15:55] krrome commented on #104
Hi Patrick,

Thanks a lot, unfortunately that's a case of the documentation laging
behind the implementation, that was a feature that had been implemented but
eventually got removed, so at the moment there is no way to get variant
effect predictions only for a selected model output from the top level
command. I will soon add an alternative way to achieve that again. It is
good to hear that that is

[2018-07-14 16:08] pjshort commented on #104
The main reason for this request is that when running on a VCF file, the file size increases dramatically (the addition of 919 predictions to every line of the VCF) and the run-time is very long (~1000 predictions took 4 hours on the computing cluster I am using, although this is probably a function of using pytorch-cpu rather than a GPU as well?).

As I am only interested in a subset of the trans

[2018-07-14 17:08] krrome commented on #104
sure, I will do that. btw. if you do have GPUs available you should use the `--gpu` flag when you create the environment with `kipoi env ...` alternatively as a simple fix of your existing environment just run 'conda install pytorch torchvision -c pytorch` in your environment. if it is still very slow then it is because of the file being written...

[2018-07-17 12:36] pjshort commented on #104
Thank you! I'll give it a try using the --gpu flag and let you know how it works!

[2018-07-17 12:59] #91 closed

[2018-07-19 08:47] Avsecz commented on #104
@krrome the output selection is now implemented in `kipoi_veff`, or?

[2018-07-19 09:44] krrome commented on #104
true, the requested functionality is now available using in the CLI: "--model_outputs" which takes the string identifiers of the model outputs or "--model_outputs_i" which takes the integer indices (0-based) of the model outputs.
If you use the python API you can use the "output_filter" kwarg of `score_variants`in the exact same way: single values, lists of values and also boolean output selection

[2018-07-19 10:37] pjshort commented on #104
Hi @krrome and @Avsecz - thanks so much for all of your help!

I have this up and running now and the --gpu flag is way faster than running with pytorch-cpu. The --model_outputs and --model_outputs_i flags also work for me.

Interestingly, doing a small number of models doesn't seem to dramatically speed things up (at least not compared to switching from cpu to gpu).

Thanks again for all of your

[2018-07-19 10:40] krrome commented on #104
Selecting model outputs only reduces disk space and writing time. Multi-task models like DeepSEA always produce all the results, but we then choose to save only the selected ones. Happy to hear that it works.

[2018-07-19 10:40] #104 closed

[2018-07-20 19:54] lzamparo commented on #103
This issue can be safely closed, I think.

[2018-07-20 19:54] #103 closed

[2018-07-20 19:54] lzamparo commented on #101
This can be safely closed, I think.

[2018-07-20 19:54] #101 closed

[2018-08-02 16:31] Avsecz opened #109 "Include all manuscript authors as model authors"
Example: DeepCpG_DNA only includes a single author.

[2018-08-17 16:35] krrome opened #110 "Update `license` for DeepSEA to creative commons"

[2018-08-19 08:54] krrome commented on #110
fixed in 47111c70541e9189be0475b813f22edaa792ce23

[2018-08-19 08:54] #110 closed

[2018-09-05 16:22] stefanches7 opened #112 "`kipoi test` doesn't work with "templated" models"
See screenshot
![screenshot from 2018-09-05 18-20-29](https://user-images.githubusercontent.com/17748742/45107046-9e7bd280-b138-11e8-99e5-31a5d44b8d7a.png)

[2018-09-05 16:28] stefanches7 commented on #112
Well it's actually avoidable by launching `kipoi test` in submodels

[2018-09-05 16:28] stefanches7 opened #113 "Exception message in kipoi test not clear"
![screenshot from 2018-09-05 18-27-40](https://user-images.githubusercontent.com/17748742/45107333-8bb5cd80-b139-11e8-9b97-4bd21e3e1caf.png)

[2018-09-05 21:31] Avsecz commented on #113
Can you show your model.yaml?

[2018-09-05 21:33] Avsecz commented on #112
@stefanches7, please write some more info: which commands were executed and what's the Kipoi version.

[2018-09-06 13:10] stefanches7 commented on #113
@Avsecz my bad, it was the fact that I put (n,) as shape.
It's wasn't clear that there should stand the shape of only one item though. Maybe there is some way to make it more clear.

[2018-09-06 13:11] stefanches7 commented on #112
I've executed `kipoi test .` on a model directory with 2 submodels inside. Kipoi version 0.4.0

[2018-09-06 17:27] Avsecz commented on #112
Yup. You have to run tests for each model independently. Are the CLI arguments misleading?

[2018-09-06 22:21] Avsecz opened #114 "Add width requirement to bed_file description"
Currently, the requirtbed file width is not explicitly specified

[2018-09-09 21:46] Avsecz commented on #113
From http://kipoi.org/docs/contributing/02_Writing_model.yaml/:
![image](https://user-images.githubusercontent.com/10011161/45269212-91d5e200-b48a-11e8-8cff-bea14e14456d.png)

Can we close this issue?

[2018-09-09 21:55] Avsecz commented on #112
Updated the cli arguments in https://github.com/kipoi/kipoi/pull/333. closing the issue

[2018-09-09 21:55] #112 closed

[2018-09-10 10:30] stefanches7 commented on #113
@Avsecz maybe put this comment up to the model schema and make it "NB!"?

[2018-09-10 10:31] stefanches7 commented on #113
Otherwise yes, can also just close

[2018-10-12 17:02] krrome opened #123 "update licenses"
The following model licenses need to be updated:
- [ ] Basenji: Apache License v2
- [ ] HOCOMOCO: [WTFPL. If you prefer more standard licenses, feel free to treat WTFPL as CC-BY](http://hocomoco11.autosome.ru/downloads_v11) on zenodo it need a statement about funding: Supported by RFBR grants 16-34-01318, 15-34-20423, 14-04-01838, RSF grants 14-50-00060, 17-74-10188 and Skoltech Systems Biology Fe

[2018-10-18 07:57] #113 closed

[2018-10-30 10:58] Avsecz opened #125 "Allow to specify a default subset of the columns for the writers"
In `model.yaml`, add the following entry:

[code]

Additionally, we would need to add a CLI flag to `kipoi predict` to keep the default writer configuration. e.g. `kipoi predict `--default-writers`

## Tasks

- [ ] add new field to ModelDescription https://github.com/kipoi/kipoi/blob/master/kipoi/specs.py#L780-L796
   - `writers = related.ChildField(Writers)`

[code]

- [ ] implement this re-namin

[2018-10-30 12:32] Avsecz commented on #125
I think this functionality specifically can be solved by writing a custom parser of the output.tsv file.

[2018-10-30 12:32] #125 closed

[2018-12-08 18:06] Avsecz opened #135 "PyTorch 1.0 compatibility"
After pytorch 1.0 has been released (yesterday), we got the following error https://circleci.com/gh/kipoi/models/569:

[code]

@krrome can you check why do we need `torch.legacy` and fix it?

[2018-12-10 12:12] krrome commented on #135
fixed in https://github.com/kipoi/models/pull/136

[2018-12-10 12:12] #135 closed

[2018-12-10 12:14] krrome opened #137 "FactorNet example file 404"
tests fail because `http://github.com/kipoi/models/blob/92b23ed62956d56eb457488b431fc27550ddbf32/FactorNet/template/dataloader_files/wgEncodeDukeMapabilityUniqueness35bp.chr22.bigWig?raw=true` is missing:

[code]
@Avsecz can you move that file to S3?

[2019-01-07 20:46] Avsecz commented on #137
I think i fix that one here 0b45364e534fe3e1e9f38626416187898d4330c4

[2019-01-07 20:46] #137 closed

[2019-01-22 10:43] dansimancas opened #139 "Variable `gtf` not found"
This line:
https://github.com/kipoi/models/blob/0b45364e534fe3e1e9f38626416187898d4330c4/MMSplice/deltaLogitPSI/dataloader.py#L49
Will always throw an error, as variable name in the function arguments is `gtf_file`, not `gtf`.

[2019-01-22 14:09] Avsecz commented on #139
@MuhammedHasan  @s6juncheng

[2019-01-24 14:52] MuhammedHasan commented on #139
I fix this issue long time ago in mmsplice python package:

https://github.com/gagneurlab/MMSplice/blob/12b3db4f247b76877fc45f8428e687d2c50b0ccc/mmsplice/vcf_dataloader.py#L350

But kipoi version is not updated.

[2019-01-24 17:45] Avsecz commented on #139
@MuhammedHasan can you updated it in kipoi as well and submit a PR?

[2019-03-03 02:06] Licko0909 opened #145 "How do I delete the environment created by `kipoi env`?"
How do I delete the environment created by `kipoi env`? I am using `conda remove -name xxx --all` command does not work.

![image](https://user-images.githubusercontent.com/27897166/53689946-e56f1b80-3d9b-11e9-86d0-84e8bd6d7b43.png)
![image](https://user-images.githubusercontent.com/27897166/53689948-f029b080-3d9b-11e9-8f6f-521fff9fe2a3.png)

**Later, I used the `kipoi env -h`, using `kipoi env re

[2019-03-03 11:31] Avsecz commented on #145
Try `conda remove -n lsgkm-SVM` (e.g. witout `--all`)?

[2019-03-03 12:02] Licko0909 commented on #145
Hahah!  `conda remove -n lsgkm-SVM --all`  Successful!

[2019-04-26 08:00] Licko0909 opened #172 "SiSp model have some problem"
[code]
![image](https://user-images.githubusercontent.com/27897166/56792452-33544d00-683c-11e9-901b-8f1289ffe39c.png)
![image](https://user-images.githubusercontent.com/27897166/56792477-47984a00-683c-11e9-91a5-8433449532dc.png)

[2019-04-28 13:47] Licko0909 opened #174 "A error of Basenji's example ：ValueError: Cannot feed value of shape (10, 131072, 4) for Tensor 'inputs:0', which has shape '(2, 131072, 4)'"
`kipoi test Basenji --source=kipoi`

ValueError: Cannot feed value of shape (10, 131072, 4) for Tensor 'inputs:0', which has shape '(2, 131072, 4)'

![image](https://user-images.githubusercontent.com/27897166/56865233-3e56db00-69fe-11e9-952d-9ce31e0889ca.png)

[2019-04-28 13:57] Licko0909 commented on #174
**I tried to use `basenji` in 'examples/1-predict` to make predictions.**

ValueError: Cannot feed value of shape (32 131072, 4) for Tensor 'inputs:0', which has shape '(2, 131072, 4)

**so I changed it to `batch size=2`, and then  there are other problems：**

**Can I only use `batch size= 2`?**

![image](https://user-images.githubusercontent.com/27897166/56865387-def9ca80-69ff-11e9-9578-6f0d46866

[2019-04-28 14:07] Avsecz commented on #174
Yes, you can only use batch size of 2 with Basenji since that's how the model was serialized.

Seems that it can't store all the predictions into the hdf5 file due to large `chunk_size`. I suggest you implement the prediction loop in python yourself for basenji (see https://github.com/kipoi/kipoi/blob/master/kipoi/cli/main.py#L239-L281) and specify a lower `chunk_size` of the HDF5Writer explicitly

[2019-04-28 14:08] Licko0909 commented on #174
**models = ['CpGenie/merged', 'DeepCpG_DNA/Hou2016_mESC_dna']**

![image](https://user-images.githubusercontent.com/27897166/56865506-9e9b4c00-6a01-11e9-8b76-5343241d19da.png)

**models =  ['DeepSEA/predict']**

![image](https://user-images.githubusercontent.com/27897166/56865532-f20d9a00-6a01-11e9-9119-2f2a6eb8fa38.png)

----------------------------------------------------------------------------

[2019-04-28 14:10] Avsecz commented on #174
Hm strange. Make sure the intervals are not from the edge of the chromosome which would yield shorter sequencs.

[2019-04-28 14:38] Licko0909 commented on #174
Thanks you! It's working

`vim ~/miniconda3/envs/kipoi-gpu-shared__envs__kipoi-py3-keras2/lib/python3.6/site-packages/kipoi/writers.py`

and change the `chunk_size=10000` to 500

![image](https://user-images.githubusercontent.com/27897166/56865944-60545b80-6a06-11e9-81ed-990fb8d89427.png)

[2019-04-28 15:01] Licko0909 commented on #174
I try to use the others BED file, it's working!

[2019-04-28 15:02] Licko0909 commented on #174
But the CpGenie and DeepCpG ,these two still can't run.

[2019-06-06 17:10] yding9 opened #181 "Fine-tune Basset from kipoi/models on a new dataset?"
Hello Kipoi members,

I want to use Basset from kipoi/models to fine-tune on a new dataset but I could not find the script. Could you provide the model fine-tune code?

Thank you so much in advance! Any help is highly appreciated!

[2019-06-24 15:01] DerThorsten commented on #181
Hi sorry for the late response:
Here is an example how to retrain/finetune a keras model:
https://kipoi.org/docs/tutorials/python-api/#re-train-the-keras-model and
https://gist.github.com/fchollet/7eb39b44eb9e16e59632d25fb3119975
For Basset, which is uses a PyTorch model, similar code is needed.
Note that kipoi does not provide an API to train/retrain/finetune models, therefore you have to use the

[2019-06-24 15:02] #145 closed

[2019-07-02 12:20] #181 closed

[2019-08-08 15:59] PedroBarbosa opened #190 "MMSplice error and general kipoi questions"
Hello,

I'm quite new to kipoi, but I should praise your effort in advance for such great resource and concept.

I want to employ kipoi to study predictions of Splicing models. To start, I decided to go for MMSplice, but it seems my setup isn't working. I followed recommendations by creating a specific environment for all MMSplcie modules

However, when I run the simplest case on a set of variants

[2019-08-08 20:31] s6juncheng commented on #190
Hi @PedroBarbosa Thanks for trying out MMSplice with kipoi. Can you try the example code (CLI code) provided here http://kipoi.org/models/MMSplice/deltaLogitPSI/ ?

For the general questions related to kipoi, maybe @Avsecz @DerThorsten can provide better help.

[2019-08-09 09:02] DerThorsten commented on #190
@PedroBarbosa
Since some models have conflicting dependencies (keras1 vs keras2, incompatible numpy version,...) it it impossible to have a single environment to handle all models.
Nevertheless we provide some special 'shared' environments where each of the shared enviroments give you support for multiple models.
these shared envs are created in the following way (see http://kipoi.org/docs/)
[code

[2019-08-09 11:53] PedroBarbosa commented on #190
Dear @s6juncheng ,

Yes, I had tried before, and it works fine. When I try to run kipoi predict on one of MMSplice modules (for a small set of variants), it's taking very long to give any output, I don't even know if it's actually doing anything:

`
kipoi predict MMSplice/pathogenicity -o /home/pedro.barbosa/ predictions_mmsplice_pathogenicity.tsv --dataloader_args='{"vcf_file":"/home/pedro.barbos

[2019-08-09 11:59] PedroBarbosa commented on #190
Thank you @DerThorsten , it helps a lot. Gonna try it.

[2019-08-09 14:33] Avsecz commented on #190
@PedroBarbosa `kipoi veff` is not supported for MMSplice since MMSplice already provides custom code to perform variant effect prediction.

It could be that parsing the GTF file and doing the overlaps takes some time. How large is the vcf file?

[2019-08-09 15:03] s6juncheng commented on #190
It takes long because the model generates an interval tree from the gtf annotation file before doing prediction. Once the interval tree is generated, it can perform interval overlapping very fast. We have significant improvement in that regard, and will soon update the MMSplice version in kipoi.

[2019-08-11 16:03] PedroBarbosa commented on #190
@Avsecz You mean, using MMSplice package itself (e.g. via VEP plugin) ?
Which models support then ? kipoisplice/4 and kipoisplice/4cons throw the same error.

HAL complains about unique chromosome names :(
`
File "/home/pedro.barbosa/software/miniconda3/envs/kipoi-shared__envs__kipoi-py3-keras2/lib/python3.6/site-packages/kipoi_veff/snv_predict.py", line 631, in predict_snvs
    bed_id_conv_fh=bed

[2019-08-11 16:10] PedroBarbosa commented on #190
@s6juncheng Thank you, will keep an eye on it. The VCF is small, but i'm using the whole genome gtf, indeed.

[2019-08-11 17:57] Avsecz commented on #190
@PedroBarbosa There is a 'Postprocessing' tag on the website:
![image](https://user-images.githubusercontent.com/10011161/62837625-cab9a080-bc71-11e9-8d0f-9c7728036784.png)
![image](https://user-images.githubusercontent.com/10011161/62837631-d4430880-bc71-11e9-931b-f42bb7010541.png)

Those models who have the 'variant_effects' tag can be executed using `kipoi veff`. Models which already accept a v

[2019-08-14 16:26] PedroBarbosa commented on #190
Ah, that is useful, thanks. It makes sense now.

I checked for that. Both have the 'chr' strings, but the problem remains. I removed chr myself, and it appears to be working (VCF file is annotated with KV:kipoi:HAL:DIFF and KV:kipoi:HAL:rID fields). However, few variants are scored. I believe it is because HAL can't predict arbitrary across the whole genome, right? Is that the reason I get the fol

[2019-08-15 11:54] PedroBarbosa commented on #190
Dear @s6juncheng ,

I'm looking at kipoi MMSplice results (from three different models, splicinEfficiencty, deltaLogitPSI and pathogenicity) and don't understand why I get multiple predictions for the same variant using the pathogenicity model.  It appears that behaves just like the other two, one prediction per variant-exon pair. I even think the last two lines are just duplicates, given the exac

[2019-08-15 23:00] s6juncheng commented on #190
The HAL model in kipoi scores donor splice site (NOT 3'ss), similar to MaxEntScan::score5ss, but with larger sequence scope and very likely better performance. The original paper also had utils to score variant effect on exon skipping, but this model was not packed into kipoi. The provided ranges should be +-80 nt around annotated splicing donors.

MMSplice was designed primarily to predict dlogit

[2019-08-16 09:20] Avsecz commented on #190
Exactly. The warning should be also due to that.

[2019-08-17 18:31] PedroBarbosa commented on #190
Thanks for the update. In the HAL model page, refers the target to be 3' psi, that is why I got confused.

I agree with you, differential splicing alone may not be enough explain pathogenicity. I'll inspect dlogitPSI on my sets of variants.

As for one variant multiple scores, because we solely predict patho scores from function on splicing, and this function varies depends on the exon affected, t

[2019-08-17 18:47] PedroBarbosa commented on #190
Additionally, I would like to report one more problem, in addition to that one related with 'chr' string.

kipoisplice/4cons throws the following error:

[code]

[2019-08-17 21:49] Avsecz commented on #190
@pedrobarbosa could you share an example file?

[2019-08-19 10:04] PedroBarbosa commented on #190
Sure, here it goes a sample vcf
[variants.vcf.gz](https://github.com/kipoi/models/files/3515274/variants.vcf.gz)

[2019-08-19 18:41] PedroBarbosa commented on #190
Dear @Avsecz ,

Testing now HAL on clinvar file gives me a parser error

[code]

My VCF contains SIFT and Polyphen annotations added by VEP (that add string characters to the corresponding fields), i don't know if this could be the problem:
`|tolerated(1)|benign(0.003)`

[2019-08-19 19:45] Avsecz commented on #190
thanks for the test file. I will debug that till the end of the week. For a quick fix you could try getting rid of the INFO field using cut (Sorry for the late replies. I'm currently trying to submit a paper :|)

[2019-08-19 22:55] PedroBarbosa commented on #190
I used the original clinvar file (not preannotated with vep) and the problem is gone :) Now, another little issue using HAL:

[code]

No problems :) Good luck with the paper, I'll keep testing things and report any problems I encounter.
Best,
pedro

[2019-09-27 11:44] Avsecz commented on #190
Seems that there is a 'N' in the fasta file and HAL doesn't have a k-mer with 'N' in there. Is there a way to replace 'N' with another sequence?

[2019-09-27 12:00] Avsecz commented on #190
`kipoi predict` works for me for `KipoiSplice/4` if I replace the chromosome name `1` with `chr1` and restrict the GTF file to have only `chr1`:
[code]

[2019-10-10 18:11] PedroBarbosa commented on #190
Hmm, by looking at that substring (reverse complemented) I found one hit in chromosome 21, Is it possible to know which variant is causing that ? I mean I wouldn't want to change the reference fasta file. I believe that it won't be very common that clinvar has reported variants near such low complexity/unsolved regions of the genome. So I'd rather remove this variant from the dataset.

The model t

[2019-10-11 00:00] PedroBarbosa commented on #190
Ok, updated kipoi versions and tried to run again the models. HAL (and consequently kipoisplice4) keep throwing the same error, about the "N" character.

MMsplice now fails with the following issue:

[code]

maybe @s6juncheng can take a look at this ?
Best,
pedro

[2019-10-13 12:13] Avsecz commented on #190
@PedroBarbosa Regarding the N issue with HAL there is not much we can do as the model doesn't contain K-mers with N's. You could either try to avoid the N's in the fasta file or try to average prediction across sequences where you would replace N' with A,C,G or T/U.

[2019-10-14 17:16] Hoeze commented on #190
@Avsecz An N would basically correspond to an one-hot encoded [0,0,0,0] vector, wouldn't it?
This way, MMSplice would more or less ignore that position since the PWMs/filters are 0-centered.
Am I wrong?

[2019-10-14 17:29] Avsecz commented on #190
N is causing issues for the HAL model which doesn't use the one-hot encoding.

[2019-10-14 20:38] s6juncheng commented on #190
Hi @PedroBarbosa, for the MMSplice error can you please share a minimal reproducible data.

[2019-10-16 23:11] PedroBarbosa commented on #190
Hi @s6juncheng ,

The data I've been using to test is the Clinvar database. I was literally running kipoi on all clinvar SNPs. Let me know if it is not reproducible.

[2019-10-17 16:53] PedroBarbosa commented on #190
I keep struggling with this issue. Apparently, the 6-mer with Ns found (CAGCAN) near some variant is not present in the fasta file (simple grep). However, its reverse complement is (NTGCTG) appears once in my fasta. So I did replaced that string with ATGCTG and tried HAL model again.

Nevertheless, HAL throws the same error with that k-mer string that I had replaced before. Why ? Isn't the model s

[2019-10-24 00:27] PedroBarbosa commented on #190
Dear @Avsecz ,

I was just testing rbp_eclip models (kipoi veff score variants) and found that in this case the interval extractor required 'chr' in sequences. (?)

I'm using vcf, gtf and fasta without 'chr' names:

[code]

[2019-10-25 08:18] s6juncheng commented on #190
Hi @PedroBarbosa. We will solve your issues one-by-one. Would you mind open separate issues for different problems? It will help us keep track of all issues and close the ones solved. Thanks.

[2019-10-25 10:17] PedroBarbosa opened #195 "rbp_eclip models do not accept files without 'chr' string"
Hi @Avsecz ,

Using vcf, gtf and fasta without 'chr' names throws the following error:

[code]

[2019-10-25 11:25] Avsecz commented on #195
Hi, are you sure the vcf and gtf files also contain chromosome names without 'chr'?

[2019-10-25 15:40] PedroBarbosa commented on #195
Hi,

Yes. Command as following
```kipoi veff score_variants rbp_eclip/$line -o ${4}_${line}_rbp_eclip.vcf --dataloader_args='{"gtf_file":"$3", "fasta_file":"$2"}' -i "$1"```

Chromosomes in VCF:
1,11,12,14,15,16,17,2,20,21,22,3,4,5,6,7,8,9,X
Chromosomes in fasta:

Chromosomes in gtf:1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
X
Y
M
GL000241.1
GL000193.1
GL000220.1
GL000237.1
GL000212.

[2019-10-25 22:09] Avsecz commented on #195
Hm. Can you try removing the .fai file?

[2019-10-26 15:43] PedroBarbosa commented on #195
Same outcome. This is the first variant to be teste (needed to remove INFO field so other error appears):

`1	981984	541161	C	T	.	.	.`

I think when kipoi generates intervals surrounding the variant automatically generates chr in the bed file, which then does not exist in the gtf. When I add chr string in all files it works (as opposed to other moelds (e.g. kipoiSplice4) that only worked without c

[2019-11-06 12:32] iamjalees opened #196 "I am trying to get the MMSplice model but it show error"
Hi,
I am trying to run python command to get MMSPlice model file but I face this error many times.Can you help me regarding this issue
Thanks

[code]

[2019-11-06 16:48] #190 closed

[2019-11-06 16:53] gagneur commented on #174
CpGenie and DeepCpG expect fixed sequence lengths. If this is still a problem, please re-open the issue.

[2019-11-06 16:53] #174 closed

[2019-11-06 17:02] gagneur opened #197 "nightly tests fail"
nightly tests fail

[2019-11-14 09:13] suny1994 opened #198 "DeepBind model doesn't exist"
Hello,
I'm quite new to kipoi, but I should praise your effort in advance for such great resource and concept.
I want to employ kipoi for further study about DeepBind.
However, when I run "kipoi ls" I get the following error:

`(pytorch36) C:\Users\suny\.kipoi\models>kipoi ls
INFO [kipoi.sources] Update C:\Users\suny\.kipoi\models\
Already up to date.
Traceback (most recent call last):
  File "c:\

[2019-11-14 09:14] #198 closed

[2019-11-14 09:24] sunyolo opened #199 "DeepBind model doesn‘t exit"
Hello,
I'm quite new to kipoi, but I should praise your effort in advance for such great resource and concept.
I want to employ kipoi for further study about DeepBind.
However, when I run "kipoi ls" I get the following error:
`(pytorch36) C:\Users\suny\.kipoi\models>kipoi ls`
 `INFO [kipoi.sources] Update C:\Users\suny\.kipoi\models\
 Already up to date.`
`Traceback (most recent call last):
File "

[2019-11-14 12:54] krrome commented on #199
Hi Sunyu,
If you haven't added / changed anything in the "C:\Users\suny\.kipoi\models" folder could you try to just delete the "C:\Users\suny\.kipoi\" folder and uninstall + re-install kipoi? If that doesn't solve the problem please get back.

[2019-11-15 12:57] suny1994 commented on #199
Thank you. I've followed your suggestion but it didn't work. I think the key point is that, as we can see [https://github.com/kipoi/models/tree/master/DeepBind](url), there is indeed no model files of DeepBind on GitHub.  So,please, where can we get access to DeepBind models?

[2019-11-17 09:44] krrome commented on #199
Regarding your question on DeepBind: The models are present on git and linked in the ".kipoi/models/DeepBind/models.tsv". This is a way to define Kipoi models differently - if you want to read up on how it works here is the explanation: http://kipoi.org/docs/contributing/06_dumping_models_programatically/

For some reason your kipoi version doesn't recognise this model definition correctly. I just

[2020-01-30 10:34] brechtmann opened #206 "SeqVec example doesn't work"
It fails with the following error:

[code]

[2020-01-30 11:01] xueqicao opened #207 "Framepool bad file names"
In the example, the vcf_tbi file is poorly named vcf_file_tbi -> vcf_file.tbi and the directory is named example_files/ not example/

 @Karollus

http://kipoi.org/models/Framepool/

[2020-01-30 12:12] xueqicao commented on #207
And it would be nice to redirect the user to the folder of the examples .kipoi/models/Framepool/downloaded

[2020-01-30 13:08] Hoeze commented on #206
@mheinzinger would you mind looking into this issue?
I think it has something to do with the PyYAML version that is used in your environment.

[2020-02-11 13:58] brechtmann opened #208 "Discrepancies between nightly tests and examples on local machine."
Some example fail after installing kipoi locally, despite their nightly tests are successful.

These two models fail
- [ ] SeqVec (Pyyaml dependency issue)
- [ ] Basenji ( Shape Error batch size must be 2)

To debug the environment issue we should write the CI's environment file to an artefact, which can be compared against the specified environment. @MuhammedHasan

[2020-02-11 14:05] brechtmann opened #209 "Implement Batch size restrictions"
To solve the Basenji Issue in the long run we could think of implementing a batch size restriction.

This could be an option in the model.yaml file, which is then handed over to the respective data-loader. It could also be specified in the default data loader section:

[code]

[2020-02-11 21:19] Avsecz commented on #209
I wouldn't patch kipoiseq.dataloaders.SeqIntervalDl as it would look weird in the kipoiseq codebase. Instead, we should just add an extra flag to the model.yaml to pose a batch size restriction and then print an informative error message when the user tries to use a different batch size. It's really a model issue not a dataloader issue.

[2020-04-07 14:10] KalinNonchev commented on #206
Hi,
I checked this problem and it is caused because of [allennlp](https://pypi.org/project/allennlp/).  The [current version](https://anaconda.org/conda-forge/allennlp) of allennlp which conda supports is 0.7.2. This version downgrades PyYAML from 5.3.1 to 3.13.
I installed allennlp 0.9.0(last version) via pip. It works with PyYAML 5.3.1. I opened [here](https://github.com/conda-forge/allennlp-fee

[2020-05-28 12:11] Hoeze opened #211 "Framepool seems to miss required "biopython" package in environment.yml"
logs:
[code]

[2020-06-20 00:15] Hoeze opened #213 "Split models into separate repositories"
I think it would make sense at this point to split the repository into separate standalone repositories, [similar to what conda forge does](https://github.com/conda-forge/).
The `kipoi/models` repository then should contain the models as git sub-modules:
[code]
Advantages:
- Direct versioning of the models
- Smaller main repository
- Allows per-model dependabot updates

[2020-08-27 19:58] adamklie opened #215 "Possible to run Basenji with GPU?"
I've created a Basenji environment with the command `kipoi env create Basenji --gpu` and I would like to be able to run Basenji using the gpu I have available on my remote server. Is there a way to make kipoi "GPU aware" in running a `predict` command via the CLI or python API?

[2020-08-27 20:25] Avsecz commented on #215
Hey. After installing the dependencies with --gpu on your server, the model should run automatically on the GPU when using `predict`. Have you tried running it?

[2020-08-27 20:48] adamklie commented on #215
I see. It looks like I have an issue with my gpu. I am going to try to reconfigure:

[code]

For completeness, I ran the following to predict on the test example after setting up the environment as `kipoi-gpu-Basenji`:

[code]

[2020-08-28 07:24] Avsecz commented on #215
You have to make sure that your drivers are properly installed as well as the cuda libraries corresponding to tensorflow version used by basenji. You can try to install cuda and cudnn from conda

[2020-10-28 16:42] haimasree opened #216 "KipoiSplice/4 fails to run inside conda environment created with python 3.6"
Recipe:
[code]
Errors are -
[code]

[code]

[2020-10-28 16:42] haimasree commented on #216
Versions of  sklearn-pandas and tensorflow must be pinned to 1.8.0 and 1.13.1 respectively. These are not specified in model.yaml of KipoiSplice/4. Most likely they are coming from wither of HAL, labranchor or MaxEntScan.

[2020-10-28 16:46] Hoeze commented on #216
Are you sure that this was created with python3.6?
/home/h879a/.conda/envs/kipoi-KipoiSplice/lib/**python3.5**/site-packages/sklearn_pandas/dataframe_mapper.py

Also, the `f"{name}_{o}"` syntax is supported from python 3.6 on.

[2020-10-28 16:49] haimasree commented on #216
Yes I know. MaxEntScan uses python 3.5 so even if the base conda environment uses 3.6, kipoi env create KipoiSplice/4 will change the python version to 3.5. Hence the need to pin this version.

[2020-10-28 16:51] haimasree opened #217 "KipoiSplice/4 predict_example code will not work on machines where the user does not have write permissions to /tmp/"
Permission denied error here -  https://github.com/kipoi/models/blob/master/KipoiSplice/4/dataloader.py#L106. We most likely have to adapt predict_example to work with KipoiSplice/4

[2020-10-28 16:55] Hoeze commented on #216
I see, i.e. the kipoi base package needs python 3.6, so we have to adjust all other models as well?

Cannot we just pin the kipoi version inside the model?

[2020-10-28 16:58] Hoeze commented on #217
Another instance of https://github.com/kipoi/kipoi/issues/546...

[2020-10-28 17:03] haimasree commented on #216
Sorry I must be missing something. How will pinning kipoi resolve the fact that sklearn_pandas and tensorflow does not provide version that is meant to work with the python version that pip install is using?

[2020-10-28 17:25] Hoeze commented on #216
It would fix that new kipoi versions need python 3.6 while old ones do not.
Basically, you could just pin every package s.t. they keep in a working state.
Updating the packages themselves would be better of course.

Or maybe I misunderstood? :D

[2020-10-28 17:36] haimasree commented on #216
Aha! Yes that is certainly possible. How much work though, I am not sure :D

[2020-11-02 20:36] haimasree opened #218 "kipoi env create BPNet-OSKN does not work anymore"
I get the same error as specified here https://github.com/kundajelab/bpnet/pull/17. The package bpnet[extras] is not updated I think?

[2020-11-02 20:43] #218 closed

[2020-11-10 10:29] haimasree opened #220 "CleTimer/default is failing"
[code]

[2020-11-12 18:30] #220 closed

[2020-11-16 13:12] #216 closed

[2021-03-12 13:05] haimasree opened #238 "Test predictions are not available for a subset of models in Kipoi"
```kipoi test <model-name> --source=kipoi``` tests whether a specific conda environment can be resolved for ```model-name```. In addition, for models whose yaml representation contains a ```test``` tag the corresponding file under ```expected``` is downloaded and verified against the predictions produced by the model. This is rather useful because changing versions of some dependencies could creep

[2021-04-01 07:17] KalinNonchev opened #242 "Framepool can't handle deletions such as "AT"->"""
Reproduce:
[code]

results in:

`ValueError: Error when checking input: expected input_seq to have 3 dimensions, but got array with shape (1, 0)`

Suggestion:
- Better error message would be helpful if vcf pre-filtering is required to remove  this kind of variants
- Overall, I would just return nan prediction values for incorrect input with a warning

[2021-04-01 08:58] Hoeze commented on #242
@KalinNonchev I agree, there should be a better error message.
But how did you get to an empty alternative sequence?

[2021-04-01 09:19] KalinNonchev commented on #242
deletion such as ref->""

http://grch37.ensembl.org/Homo_sapiens/Transcript/Exons?db=core;g=ENSG00000142621;r=1:15632276-15656094;t=ENST00000375995

short 5'UTR region, which is deleted

[2021-04-01 09:28] KalinNonchev commented on #242
http://grch37.ensembl.org/Homo_sapiens/Transcript/Exons?db=core;g=ENSG00000114115;r=3:139243249-139258561;t=ENST00000483943

Here for example we have only one letter ref 5'UTR seq also, which would result in

[code]

`InvalidArgumentError: Requires start <= limit when delta > 0: 2/1
	 [[{{node frame_masking_1/arange_2}}]]`

Just warning with nan values would be better, instead of exception

[2021-04-01 09:45] Hoeze commented on #242
OK, got it.
Still, I don't think a 1-letter UTR makes sense.

@Karollus Maybe we could add three additional flags:
- Could not predict (for whatever reason)
- Reference sequence too short
- Alternative sequence too short

What do you think?

[2021-04-01 11:04] Karollus commented on #211
This issue is solved, no?

[2021-04-01 13:27] Hoeze commented on #211
Yes, you're right

[2021-04-01 13:27] #211 closed

[2021-04-09 19:04] #5 closed

[2021-04-09 19:09] #206 closed

[2021-04-09 19:09] #199 closed

[2021-04-09 19:10] haimasree commented on #197
Closing this as it is no longer the case

[2021-04-09 19:10] #197 closed

[2021-04-09 19:15] haimasree commented on #94
Is it not the case?

[2021-04-09 19:17] haimasree commented on #68
Already works with python 3.

[2021-04-09 19:17] #68 closed

[2021-04-09 19:20] #39 closed

[2021-04-09 19:22] #6 closed

[2021-06-04 15:57] haimasree opened #247 "Frequent zenodo outage"
Model weights and test files are hosted in zenodo . Over a course of last few months zenodo's service has deteriorated quite a lot.This leads to frequent failures of nightly tests. For example, zenodo's service failed 3 nights in a row recently. See [here](https://app.circleci.com/pipelines/github/kipoi/models).

1. Any other storage alternative?
2. Anything we can do on our end to improve fault t

[2021-06-11 17:21] haimasree opened #251 "SeqVec environments resolve everywhere except in circleci nightly test"
For some reason, circleci cannot create conda environments for SeqVec models. It keeps failing with return code -9 which points to out of memory error. I am unable to reproduce this error locally, both with ssh into circleci test session and running a local circleci build. There does not seem to be any problem with the environment. The docker executor in circleci allows 4 GB memory under the free

[2021-06-11 17:24] Hoeze commented on #251
You can try using Mamba or Micromamba:
https://github.com/mamba-org/mamba
It's a C++ reimplementation of conda and therefore much faster and probably also less memory-consuming :smile:

[2021-06-11 17:27] haimasree commented on #251
I like mamba too. However, kipoi intrinsically uses conda to create environments - so that would mean kipoi needs to update. This is not out of scope  entirely but definitely a more involved solution.

[2021-06-14 13:23] haimasree opened #252 "Parallelize CI"
Currently, nightly CI and prs and merge (to master) takes around 2-4 hours. In order to improve the runtime, break the job which tests all models sequentially into multiple (controlled by a parameter from the workflow) jobs that tests a smaller subset of models.

[2021-06-14 13:28] #252 closed

[2021-06-16 08:46] haimasree commented on #251
This seems to happen intermittently.

[2021-06-22 10:47] haimasree commented on #251
We are keeping seqvec out of ci for now with no immediate way of resolution. There is a  [docker image for seqvec](https://hub.docker.com/layers/haimasree/kipoi-docker/seqvec/images/sha256-ed777152a1e26ee85cd5d9cfefb7217dc318d2d532cf428ddde6e073162c0196?context=repo) which still seems to be working. This image get tested every sunday and gets re-built and tested (pushed if different) once every mo

[2021-06-22 10:47] #251 closed

[2021-06-22 10:52] haimasree commented on #247
We have added two measures to circumvent this
1. Exponential backoff retry strategy while downloading any url.
    - There willl now be a maximum of 6 retries at 0.1, 0.2, 0.4, 0.8, 1.6 and 3.2 seconds interval.
    - https://github.com/kipoi/kipoi-utils/pull/27

2. Parallelized CI
    - https://github.com/kipoi/models/pull/253
    - https://github.com/kipoi/kipoi/pull/591

[2021-06-22 10:52] #247 closed

[2021-08-19 09:20] haimasree commented on #251
Now that I have successfully added a machine executor which has more memory than a docker executor, once all docker executors replaced with machine executors, adding back SeqVec is worth trying I think.

[2021-11-22 00:27] TzuTingWei opened #280 "DeepSEA model doesn't support variant effect prediction"
I recently re-ran my code for extracting SNV effect using kipoi-veff score_variants() function in DeepSEA model.

However, an error popped up "Exception: Model deosn't support variant effect prediction according model yaml file."

I found it could be coming from this git history: Removing postprocessing 2ca080d 13 days ago

Is it still possible to have the score_variants() function with the scores

[2021-11-22 10:39] haimasree commented on #280
Hi Cindy, Thanks for reporting. Yes, kipoi-veff has been replaced by kipoi-veff2. Unlike kipoi-veff kipoi-veff2 does not depend on 'postprocessing' field of model.yaml to infer  compatibility with variant effect prediction. Thats why they were removed.

Since you are short on time, I have added the postprocessing parts back for DeepSEA models. They should now be compatible with kipoi-veff.

An ide

[2021-12-10 13:15] #280 closed

[2022-06-24 04:50] robertzeibich opened #342 "APARENT - number of predictions seems off"
Hi, I am currently running Kipoi APARENT.

The provided example VCF file contains 15,077 variants, but the output only has 416 predictions for delta_logit_distal_prop and delta_logit_proximal_prop. I was expecting 15,077 predictions. Do you know why I only get 15,077 predictions?
Kipoi APARENT
<img width="272" alt="Kipoi APARENT" src="https://user-images.githubusercontent.com/73748542/175464420-21

[2022-06-25 04:57] robertzeibich commented on #342
Thank you for getting back to me that quickly. I used the keep_metadata parameter and then concatenated the output with a pandas dataframe.
<img width="322" alt="poly(A) scores" src="https://user-images.githubusercontent.com/73748542/175758418-8cbbd182-2c44-4e4f-87f8-23040637f7d0.PNG">
Can you inform me once the bug was fixed?

I want to integrate the poly(A) scores in my whole genome sequence ana

[2022-07-04 10:13] Hoeze commented on #342
Hi @robertzeibich, I did merge now the PR to fix the reverse-complement issue.
Still, I'm not 100% sure if the implementation is perfectly fine, so please look at the predictions with a bit of caution for now :)

[2022-07-04 10:13] Hoeze opened #346 "Review APARENT predictions"
Currently, the APARENT dataloader gets the PolyA sites from the transcript GTF annotation:
https://github.com/kipoi/models/blob/9dea5659d095c49ff8039beda7be9bcfaa168f2a/APARENT/veff/dataloader.py#L84-L108

@johli Is this a viable implementation of the [strategy you explained here](https://github.com/johli/aparent/issues/1)?
Do you maybe have some example data (vcf file + scores) against which we c

[2022-07-29 12:48] haimasree opened #350 "KipoiSplice is not getting tested in ci"
More info: #349
Working containers are still working and available.

[2022-07-29 15:37] haimasree commented on #238
https://github.com/kipoi/models/pull/310
https://github.com/kipoi/models/pull/312

[2022-09-22 15:44] drarwood opened #353 "Meaningful deepSEA/predict column names not output"
Hi,

I have followed the instructions to use DeepSEA/predict as document here:
http://kipoi.org/models/DeepSEA/predict/

However, the column labels do not make sense based on the example data:
[code]

Looking at the repo, I have found a file called `predictor_names.txt`. Does this provide the respective column labels as ordered in the TSV output file generated? Sorry if I'm missing something obvio